PROJECT_NAME="Astrology API"
# DATABASE_URL=sqlite+aiosqlite:///./astrology.db
OPENAI_API_KEY=your-openai-api-key-here
SUPABASE_URL=https://wsqknvxhdcernpgdeyte.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzcWtudnhoZGNlcm5wZ2RleXRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUwNjQzOSwiZXhwIjoyMDkwMDgyNDM5fQ.YSl7nN36NPrMe5FpNeuJ9FZTijeBYM3zJa0iz5UskpY
